#header{
    background: orange;
}
#download-link{
    background: pink;
    
        height: 520px;
       
      
      
}
#profile-decription{
    background: yellow;
    height: 520px;
        
}
#corse-registration{
    background: greenyellow;
    height: 520px;
      
}
#footer{
    background: lightblue;
}